<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Pagina web</title>
</head>
<body>
    <h1>Formulario de envio</h1>
    <form action="/datos/" method="POST">
        <label>Nombre:</label>
        <input name="nombre" type="text">
        <label>Edad:</label>
        <input name="edad" type="number">
        <input type="submit" value="Enviar">
    </form>
    
    <script src="js/main"></script>
</body>
</html>